.about{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.75);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    background-color: #ddd;
    
}

.about-header{
    font-size: 50px;
    text-align: center;
}
.about-welcome{
    font-size: 20px;
    
}

.about-li{
    list-style-type: square;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.75);
    transition: all 0.3s ease-in-out;
}
.about-join{
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.75);
    transition: all 0.3s ease-in-out;
}