/* Navbar.css */

.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar-left {
  display: flex;
}

.navbar-left a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.nav-button {
  background-color: #333;
  color: white;
  padding: 14px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;;
  top: calc(100% + 0.25rem);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #555;
  color: white;
  border-radius: 10px;;
}

.navbar-right .login-dropdown {
  display: block;
  width: 200px;
}

.navbar-right form {
  display: flex;
  flex-direction: column;
}

.navbar-right label {
  margin-bottom: 5px;
}

.navbar-right input {
  padding: 8px;
  margin-bottom: 10px;
}

.navbar-right button {
  background-color: #555;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 0.50rem;
}
